<!DOCTYPE html>
<html>
<head>
<title>Kids cartoon</title>
<style>
input {
   padding: 4px 8px;
   border-radius: 5px;
   margin: 15px;
}

a {
   border: 1px solid black;
   border-radius: 5px;
}
</style>
</head>
<body>

<h2>Cartoon channels</h2>

<form method="POST">
     {% csrf_token %}
     <input type="text"  name="cnl" placeholder="Enter channnel..">
     <br>

     <input type="text" name="crtn" placeholder="Enter Cartoon..">
     <br>
    
     <input type="text" name="chrt" placeholder="Enter character..">
     <br>
   
     <input type="time" name="time" placeholder="Enter showtime..">  
     <br><br>
    
     <button type="submit">Add</button>
</form>
     <br>
     <a href="{% url "home" %}" >Home</a>

</body>
</html>
      
